USE [master]
GO
/****** Object:  Database [pos_admin_report]    Script Date: 04/12/2568 12:10:30 ******/
CREATE DATABASE [pos_admin_report] ON  PRIMARY 
( NAME = N'pos_admin_report', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\pos_admin_report.mdf' , SIZE = 12288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'pos_admin_report_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\pos_admin_report_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pos_admin_report].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pos_admin_report]
GO
/****** Object:  User [admin]    Script Date: 04/12/2568 12:10:30 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[AccItemCategory]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccItemCategory](
	[CatID] [int] NOT NULL,
	[CatName] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Accounting]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounting](
	[AccID] [int] NOT NULL,
	[Acc_type] [nvarchar](50) NULL,
	[ItemName] [nvarchar](255) NULL,
	[CatID] [int] NULL,
	[Quanlity] [float] NULL,
	[UnitID] [int] NULL,
	[Amount] [float] NULL,
	[AvgCost] [float] NULL,
	[Remark] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](255) NULL,
	[SupID] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[New_AccID] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AdjustItem]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdjustItem](
	[AdjustID] [int] NOT NULL,
	[item_id] [int] NULL,
	[Amount] [float] NULL,
	[AvgCost] [float] NULL,
	[Remark] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[Real_Qty] [float] NULL,
	[UnitID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Alcohol]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alcohol](
	[AlcoholID] [int] NULL,
	[AlcoholBrand] [nvarchar](50) NULL,
	[Quantity] [float] NULL,
	[DepositsName] [nvarchar](80) NULL,
	[DepositsDate] [datetime] NULL,
	[ExpirationDate] [datetime] NULL,
	[ReceiveDate] [datetime] NULL,
	[Re_Status] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[billctrl]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[billctrl](
	[billid] [int] NOT NULL,
	[bilcdate] [datetime] NULL,
	[bilcnam] [nvarchar](255) NULL,
	[biltblnm] [nvarchar](255) NULL,
	[billtbllot] [int] NULL,
	[bilbeforetotal] [float] NULL,
	[biltotal] [float] NULL,
	[biltotal_discount] [int] NULL,
	[bilchng] [float] NULL,
	[bilcclnm] [nvarchar](255) NULL,
	[bilcclrs] [nvarchar](255) NULL,
	[bilccldt] [datetime] NULL,
	[billcash_receive] [int] NULL,
	[billcredit_receive] [int] NULL,
	[billvoucher_receive] [int] NULL,
	[bilcreditno] [nvarchar](20) NULL,
	[bildiscountp] [float] NULL,
	[bildiscountc] [float] NULL,
	[bilstatus] [nvarchar](15) NULL,
	[bilmemo1] [nvarchar](max) NULL,
	[bilmemo2] [nvarchar](max) NULL,
	[bilmemo3] [nvarchar](max) NULL,
	[user_receive] [int] NULL,
	[bildiscountpm] [int] NULL,
	[memid] [nvarchar](50) NULL,
	[ServiceCharge] [int] NULL,
	[Vateexc] [int] NULL,
	[freebill] [nvarchar](50) NULL,
	[Service_cal] [nvarchar](50) NULL,
	[Vat_cal] [nvarchar](50) NULL,
	[SV_value] [int] NULL,
	[Vat_Value] [int] NULL,
	[cashopen] [nvarchar](50) NULL,
	[Terminal] [nvarchar](255) NULL,
	[bildiscountp_amount] [int] NULL,
	[bildiscountpm_amount] [int] NULL,
	[credit_type] [nvarchar](255) NULL,
	[debt_amount] [float] NULL,
	[deposit_amount] [float] NULL,
	[dept_owner] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[check_dupplicate_foodname]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[check_dupplicate_foodname](
	[Expr1000] [int] NULL,
	[fodname] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Color_control]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color_control](
	[id] [int] NOT NULL,
	[func_name] [nvarchar](50) NULL,
	[Control_name] [nvarchar](50) NULL,
	[Red] [int] NULL,
	[Green] [int] NULL,
	[Blue] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[debt_detail]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[debt_detail](
	[id] [int] NOT NULL,
	[dept_owner] [nvarchar](255) NULL,
	[billid] [int] NULL,
	[debt_date] [datetime] NULL,
	[payment] [float] NULL,
	[payment_date] [datetime] NULL,
	[deposit_amount] [float] NULL,
	[pos_date] [float] NULL,
	[shiftname] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[empmast]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empmast](
	[ID] [int] NOT NULL,
	[Emp_ID] [int] NOT NULL,
	[Emp_Title] [nvarchar](255) NULL,
	[Emp_Name] [nvarchar](255) NOT NULL,
	[Emp_SName] [nvarchar](255) NULL,
	[Emp_Tel] [nvarchar](50) NULL,
	[Emp_Status] [nvarchar](50) NULL,
	[Emp_Photo] [nvarchar](255) NULL,
	[Emp_Address] [nvarchar](max) NULL,
	[Emp_Provcode] [nvarchar](255) NULL,
	[Emp_Postcode] [nvarchar](50) NULL,
	[Emp_Email] [nvarchar](100) NULL,
	[Emp_Sex] [nvarchar](50) NULL,
	[Emp_Married] [nvarchar](50) NULL,
	[Emp_Birthday] [datetime] NULL,
	[Emp_IDCard] [nvarchar](50) NULL,
	[Emp_JoinDate] [datetime] NULL,
	[Emp_TerDate] [datetime] NULL,
	[ContactName] [nvarchar](255) NULL,
	[ContactAdd] [nvarchar](max) NULL,
	[ContactPhone] [nvarchar](50) NULL,
	[RalationToemp] [nvarchar](255) NULL,
	[Positions] [nvarchar](255) NULL,
	[HourlyPayRate] [money] NULL,
	[WorkOnCom] [nvarchar](50) NULL,
	[Exemption] [nvarchar](50) NULL,
	[CreatebyUser] [nvarchar](255) NULL,
	[CreateDate] [nvarchar](50) NULL,
	[ModifybyUser] [nvarchar](255) NULL,
	[ModifyDate] [datetime] NULL,
	[dis_percent] [int] NULL,
	[dis_cash] [int] NULL,
	[social_security_no] [nvarchar](50) NULL,
	[bank_account] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fodmast]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fodmast](
	[fodid] [int] NOT NULL,
	[fodcdate] [datetime] NULL,
	[fodcnam] [nvarchar](255) NULL,
	[fodname] [nvarchar](255) NOT NULL,
	[fodbom] [int] NULL,
	[fodprice] [float] NULL,
	[fodunit] [nvarchar](20) NULL,
	[fodtax] [nvarchar](1) NULL,
	[grpid] [int] NULL,
	[fodgrp] [nvarchar](255) NULL,
	[fodcat] [nvarchar](255) NULL,
	[fodprom] [float] NULL,
	[fodprinter] [int] NULL,
	[fodmemo1] [nvarchar](max) NULL,
	[fodmemo2] [nvarchar](max) NULL,
	[fodmemo3] [nvarchar](max) NULL,
	[fodset] [nvarchar](5) NULL,
	[fodsusales] [nvarchar](1) NULL,
	[fdiscount] [nvarchar](50) NULL,
	[diagram] [nvarchar](50) NULL,
	[sub_food] [nvarchar](50) NULL,
	[outofstock] [nvarchar](50) NULL,
	[flag_hide] [nvarchar](50) NULL,
	[fodunit_inventory] [nvarchar](255) NULL,
	[fodname_eng] [nvarchar](255) NULL,
	[fodunit_inventory_eng] [nvarchar](255) NULL,
	[fimage] [nvarchar](255) NULL,
	[flag_choose] [nvarchar](50) NULL,
	[fodprice_iamge] [nvarchar](255) NULL,
	[fod_image] [nvarchar](255) NULL,
	[order_id] [int] NULL,
	[Red] [int] NULL,
	[Green] [int] NULL,
	[Blue] [int] NULL,
	[fodgrp_eng] [nvarchar](255) NULL,
	[fromtime1] [datetime] NULL,
	[totime1] [datetime] NULL,
	[price1] [int] NULL,
	[fromtime2] [datetime] NULL,
	[totime2] [datetime] NULL,
	[price2] [int] NULL,
	[fromtime3] [datetime] NULL,
	[totime3] [datetime] NULL,
	[price3] [int] NULL,
	[flag_price] [nvarchar](50) NULL,
	[old_fodid] [nvarchar](255) NULL,
	[Commission_emp] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[fodsetmast]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fodsetmast](
	[fodsetid] [int] NOT NULL,
	[fodid] [int] NULL,
	[foodsetold_id] [int] NULL,
	[fodsetname] [nvarchar](255) NULL,
	[fodsetname_eng] [nvarchar](255) NULL,
	[fodsetprice] [int] NULL,
	[CreateName] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL,
	[fodsetqty] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[food_formula]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_formula](
	[fodid] [int] NULL,
	[item_id] [int] NULL,
	[amount] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[foodcat]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foodcat](
	[catid] [int] NOT NULL,
	[catdesc] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[foodgrp]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foodgrp](
	[grpid] [int] NOT NULL,
	[grpdesc] [nvarchar](255) NULL,
	[Red] [int] NULL,
	[Green] [int] NULL,
	[Blue] [int] NULL,
	[Flag_hide] [nvarchar](50) NULL,
	[CreatebyUser] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL,
	[ModifybyUser] [nvarchar](255) NULL,
	[ModifyDate] [datetime] NULL,
	[order_id] [int] NULL,
	[grpdesc_eng] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IncludeBill]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncludeBill](
	[ID] [int] NOT NULL,
	[tableno_parent] [nvarchar](50) NULL,
	[tablelot_parent] [int] NULL,
	[tableno_child] [nvarchar](50) NULL,
	[tablelot_child] [int] NULL,
	[status] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IncomeByMember]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncomeByMember](
	[ICID] [int] NOT NULL,
	[MemberID] [nvarchar](50) NULL,
	[RecieveDate] [datetime] NULL,
	[Total] [float] NULL,
	[ICType] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Initial]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Initial](
	[InitialID] [int] NOT NULL,
	[InitialName] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Inventory_id] [int] NOT NULL,
	[item_id] [int] NULL,
	[Amount] [float] NULL,
	[AvgCost] [float] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[Real_Qty] [float] NULL,
	[UnitID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceNo] [int] NULL,
	[Memid] [nvarchar](50) NULL,
	[Billid] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[item_detail]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item_detail](
	[item_id] [int] NOT NULL,
	[item_name] [nvarchar](50) NULL,
	[CatID] [int] NULL,
	[ZoneID] [int] NULL,
	[Pointlow] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[Item_UnitID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemCategory]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemCategory](
	[CatID] [int] NOT NULL,
	[CatName] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemwithCost]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemwithCost](
	[ID] [int] NOT NULL,
	[item_id] [int] NULL,
	[Cost] [float] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[kitstat]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kitstat](
	[kstid] [int] NOT NULL,
	[kstordid] [int] NULL,
	[kstcdate] [datetime] NULL,
	[kstcnam] [nvarchar](255) NULL,
	[ksttableno] [nvarchar](255) NOT NULL,
	[kstlotid] [int] NULL,
	[kstfood] [int] NOT NULL,
	[kstfname] [nvarchar](255) NULL,
	[kstkit] [nvarchar](255) NULL,
	[kststat] [nvarchar](100) NULL,
	[kstqty] [float] NULL,
	[ksttype] [nvarchar](50) NULL,
	[Red] [int] NULL,
	[Green] [int] NULL,
	[Blue] [int] NULL,
	[parent_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[master_special]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_special](
	[msp_id] [int] NOT NULL,
	[msp_name] [nvarchar](255) NULL,
	[msp_price] [float] NULL,
	[msp_grpid] [int] NULL,
	[msp_name_eng] [nvarchar](255) NULL,
	[msp_background] [nvarchar](255) NULL,
	[flag_hide] [nvarchar](50) NULL,
	[printbill] [nvarchar](50) NULL,
	[allfood] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Member]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [nvarchar](50) NULL,
	[InitialID] [int] NULL,
	[FullName] [nvarchar](255) NULL,
	[Sex] [nvarchar](50) NULL,
	[IDCard] [nvarchar](13) NULL,
	[Address] [nvarchar](max) NULL,
	[Province] [nvarchar](255) NULL,
	[PostCode] [nvarchar](50) NULL,
	[Telephone] [int] NULL,
	[BirthDay] [datetime] NULL,
	[MemberType] [int] NULL,
	[AdmitDate] [datetime] NULL,
	[Expiredate] [datetime] NULL,
	[MemberPic] [nvarchar](255) NULL,
	[NumofRenew] [int] NULL,
	[LastRenewDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[M_Email] [nvarchar](255) NULL,
	[M_Email2] [nvarchar](255) NULL,
	[M_Facebook] [nvarchar](255) NULL,
	[M_twister] [nvarchar](255) NULL,
	[M_Hi5] [nvarchar](255) NULL,
	[M_other] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[money_of_day]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[money_of_day](
	[id] [int] NOT NULL,
	[u_money] [int] NULL,
	[u_date] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[opncashdrawer]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opncashdrawer](
	[trnid] [int] NOT NULL,
	[reason] [nvarchar](255) NULL,
	[amount] [int] NULL,
	[byuser] [int] NULL,
	[createdate] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ordtrans]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordtrans](
	[ordid] [int] NOT NULL,
	[ordbill] [int] NULL,
	[ordtableno] [nvarchar](255) NOT NULL,
	[ordfood] [int] NOT NULL,
	[ordfname] [nvarchar](255) NOT NULL,
	[ordfnamesp] [nvarchar](255) NULL,
	[ordkit] [nvarchar](255) NULL,
	[ordstat] [nvarchar](20) NULL,
	[ordprice] [float] NULL,
	[orddiscpercent] [float] NULL,
	[orddisccash] [float] NULL,
	[ordprom] [float] NULL,
	[ordtax] [float] NULL,
	[ordqty] [float] NULL,
	[ordtype] [nvarchar](1) NOT NULL,
	[orddate] [datetime] NULL,
	[ordtime] [datetime] NULL,
	[ordprn] [float] NULL,
	[ordcancreason] [nvarchar](255) NULL,
	[ordsplit] [nvarchar](1) NULL,
	[ordbillto] [nvarchar](255) NULL,
	[ordbillto_lotid] [int] NULL,
	[ordmreason] [nvarchar](255) NULL,
	[ordlot] [int] NULL,
	[ordcclnam] [int] NULL,
	[ordrcvnam] [int] NULL,
	[ordccldate] [datetime] NULL,
	[ordcdate] [datetime] NULL,
	[ordcnam] [nvarchar](255) NULL,
	[ordid_parent] [int] NULL,
	[memo1] [nvarchar](max) NULL,
	[ordprn_time] [int] NULL,
	[memo2] [nvarchar](max) NULL,
	[ordreprintreason] [nvarchar](255) NULL,
	[printbill_reason] [nvarchar](255) NULL,
	[ordfname_eng] [nvarchar](255) NULL,
	[ordfnamesp_eng] [nvarchar](255) NULL,
	[packbill_id] [int] NULL,
	[Terminal] [nvarchar](255) NULL,
	[dis_percent] [int] NULL,
	[dis_member] [int] NULL,
	[Real_commission] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ordtrans_sp]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ordtrans_sp](
	[ordid] [int] NULL,
	[specialfoodname] [nvarchar](255) NULL,
	[specialfoodnameeng] [nvarchar](255) NULL,
	[spid] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Print_kit_foodset]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Print_kit_foodset](
	[ordid] [int] NOT NULL,
	[ordqty] [float] NULL,
	[ordtableno] [nvarchar](255) NULL,
	[ordlot] [int] NULL,
	[ordcdate] [datetime] NULL,
	[fodgrp] [nvarchar](255) NULL,
	[ordfood] [int] NULL,
	[ordstat] [nvarchar](20) NULL,
	[ordbillto_lotid] [int] NULL,
	[ordbillto] [nvarchar](255) NULL,
	[ordprn] [float] NULL,
	[ordprn_time] [int] NULL,
	[ordtype] [nvarchar](1) NULL,
	[ordrcvnam] [int] NULL,
	[Emp_Name] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[printmast]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[printmast](
	[printerid] [int] NOT NULL,
	[printername] [nvarchar](255) NULL,
	[memo1] [nvarchar](max) NULL,
	[memo2] [nvarchar](max) NULL,
	[memo3] [nvarchar](max) NULL,
	[printerType] [nvarchar](50) NULL,
	[printdesc] [nvarchar](255) NULL,
	[pcname] [nvarchar](255) NULL,
	[print_version] [nvarchar](50) NULL,
	[order_style] [nvarchar](50) NULL,
	[sendtoprint] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PrivilegeMember]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivilegeMember](
	[MemberType] [int] NOT NULL,
	[MemberTypeName] [nvarchar](255) NULL,
	[AdmitMemberfee] [float] NULL,
	[MemberRenew] [float] NULL,
	[MemberDuration] [int] NULL,
	[BuyRateDiscount] [float] NULL,
	[QtyRate] [int] NULL,
	[MemberUpgrade] [int] NULL,
	[YearRenew] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Query1]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Query1](
	[spfodname] [nvarchar](255) NULL,
	[fodname] [nvarchar](255) NULL,
	[spid] [int] NOT NULL,
	[spfodid] [int] NULL,
	[spfodgrpid] [int] NULL,
	[spfodgrp] [nvarchar](255) NULL,
	[specgrpid] [int] NULL,
	[specgrp] [nvarchar](255) NULL,
	[specialdesc] [nvarchar](255) NULL,
	[specprice] [float] NULL,
	[sp_background] [nvarchar](255) NULL,
	[specialdesc_eng] [nvarchar](255) NULL,
	[printbill] [nvarchar](50) NULL,
	[specgrp_eng] [nvarchar](255) NULL,
	[spfodgrp_eng] [nvarchar](255) NULL,
	[fodid] [int] NOT NULL,
	[fodcdate] [datetime] NULL,
	[fodcnam] [nvarchar](255) NULL,
	[fodbom] [int] NULL,
	[fodprice] [float] NULL,
	[fodunit] [nvarchar](20) NULL,
	[fodtax] [nvarchar](1) NULL,
	[grpid] [int] NULL,
	[fodgrp] [nvarchar](255) NULL,
	[fodcat] [nvarchar](255) NULL,
	[fodprom] [float] NULL,
	[fodprinter] [int] NULL,
	[fodmemo1] [nvarchar](max) NULL,
	[fodmemo2] [nvarchar](max) NULL,
	[fodmemo3] [nvarchar](max) NULL,
	[fodset] [nvarchar](5) NULL,
	[fodsusales] [nvarchar](1) NULL,
	[fdiscount] [nvarchar](50) NULL,
	[diagram] [nvarchar](50) NULL,
	[sub_food] [nvarchar](50) NULL,
	[outofstock] [nvarchar](50) NULL,
	[flag_hide] [nvarchar](50) NULL,
	[fodunit_inventory] [nvarchar](255) NULL,
	[fodname_eng] [nvarchar](255) NULL,
	[fodunit_inventory_eng] [nvarchar](255) NULL,
	[fimage] [nvarchar](255) NULL,
	[flag_choose] [nvarchar](50) NULL,
	[fodprice_iamge] [nvarchar](255) NULL,
	[fod_image] [nvarchar](255) NULL,
	[order_id] [int] NULL,
	[Red] [int] NULL,
	[Green] [int] NULL,
	[Blue] [int] NULL,
	[fodgrp_eng] [nvarchar](255) NULL,
	[fromtime1] [datetime] NULL,
	[totime1] [datetime] NULL,
	[price1] [int] NULL,
	[fromtime2] [datetime] NULL,
	[totime2] [datetime] NULL,
	[price2] [int] NULL,
	[fromtime3] [datetime] NULL,
	[totime3] [datetime] NULL,
	[price3] [int] NULL,
	[flag_price] [nvarchar](50) NULL,
	[old_fodid] [nvarchar](255) NULL,
	[Commission_emp] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Query2]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Query2](
	[spid] [int] NOT NULL,
	[spfodid] [int] NULL,
	[spfodname] [nvarchar](255) NULL,
	[spfodgrpid] [int] NULL,
	[spfodgrp] [nvarchar](255) NULL,
	[specgrpid] [int] NULL,
	[specgrp] [nvarchar](255) NULL,
	[specialdesc] [nvarchar](255) NULL,
	[specprice] [float] NULL,
	[sp_background] [nvarchar](255) NULL,
	[specialdesc_eng] [nvarchar](255) NULL,
	[printbill] [nvarchar](50) NULL,
	[specgrp_eng] [nvarchar](255) NULL,
	[spfodgrp_eng] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Query4]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Query4](
	[tblname] [nvarchar](15) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[reasonmast]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reasonmast](
	[reasonid] [int] NOT NULL,
	[reasongrp] [nvarchar](255) NULL,
	[reasondesc] [nvarchar](255) NULL,
	[memo1] [nvarchar](max) NULL,
	[memo2] [nvarchar](max) NULL,
	[memo3] [nvarchar](max) NULL,
	[reasondesc_eng] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleName] [nvarchar](255) NULL,
	[RoleDescription] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](255) NULL,
	[Type] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shop_detail]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop_detail](
	[ShopID] [int] NOT NULL,
	[ShopName] [nvarchar](50) NULL,
	[ShopBranch] [nvarchar](50) NULL,
	[ShopTaxID] [nvarchar](50) NULL,
	[Shop_RegID] [nvarchar](50) NULL,
	[Shop_Add] [nvarchar](50) NULL,
	[Province] [nvarchar](50) NULL,
	[Postcode] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[Shop_tel] [nvarchar](50) NULL,
	[Shop_fax] [nvarchar](50) NULL,
	[current_shop] [nvarchar](50) NULL,
	[ShopName_eng] [nvarchar](50) NULL,
	[Shop_Add_eng] [nvarchar](50) NULL,
	[Province_eng] [nvarchar](50) NULL,
	[ShopBranch_eng] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[specgrp_tbl]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[specgrp_tbl](
	[specgrpid] [int] NOT NULL,
	[specgrp] [nvarchar](255) NULL,
	[memo1] [nvarchar](max) NULL,
	[memo2] [nvarchar](max) NULL,
	[memo3] [nvarchar](max) NULL,
	[icon] [nvarchar](255) NULL,
	[specgrp_eng] [nvarchar](255) NULL,
	[spec_background] [nvarchar](255) NULL,
	[flag_hide] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[special_spec_order]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[special_spec_order](
	[spid] [int] NOT NULL,
	[spfodid] [int] NULL,
	[spfodname] [nvarchar](255) NULL,
	[spfodgrpid] [int] NULL,
	[spfodgrp] [nvarchar](255) NULL,
	[specgrpid] [int] NULL,
	[specgrp] [nvarchar](255) NULL,
	[specialdesc] [nvarchar](255) NULL,
	[specprice] [float] NULL,
	[sp_background] [nvarchar](255) NULL,
	[specialdesc_eng] [nvarchar](255) NULL,
	[printbill] [nvarchar](50) NULL,
	[specgrp_eng] [nvarchar](255) NULL,
	[spfodgrp_eng] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockZone]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockZone](
	[ZoneID] [int] NOT NULL,
	[ZoneName] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupID] [int] NOT NULL,
	[SupName] [nvarchar](255) NULL,
	[SupAdd] [nvarchar](max) NULL,
	[SupTel] [nvarchar](50) NULL,
	[SupFax] [nvarchar](50) NULL,
	[SupMail] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbCustNum]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbCustNum](
	[id] [int] NOT NULL,
	[tablename] [nvarchar](255) NULL,
	[tablelot] [int] NULL,
	[numberofcust] [int] NULL,
	[status] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbGroup]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGroup](
	[GroupID] [int] NOT NULL,
	[GroupName] [nvarchar](255) NULL,
	[GroupDesc] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbGroupRole]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbGroupRole](
	[GroupID] [int] NULL,
	[RoleName] [nvarchar](255) NULL,
	[CreateUser] [nvarchar](255) NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_hr]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_hr](
	[number] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_reserv]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_reserv](
	[ResID] [int] NOT NULL,
	[ResName] [nvarchar](50) NULL,
	[ResTableno] [nvarchar](50) NULL,
	[ResDate] [datetime] NULL,
	[ResNum] [int] NULL,
	[ResStatus] [nvarchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[Res_Blockdate] [datetime] NULL,
	[Remark] [nvarchar](max) NULL,
	[Res_ReleaseDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblsetting]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblsetting](
	[id] [int] NOT NULL,
	[function_name] [nvarchar](255) NULL,
	[s_value] [nvarchar](50) NULL,
	[s_value2] [nvarchar](50) NULL,
	[function_desc] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblsplit]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblsplit](
	[Id] [int] NOT NULL,
	[Lotnum] [int] NULL,
	[Lot_tblname] [nvarchar](255) NULL,
	[Lot_status] [nvarchar](50) NULL,
	[empid] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbRoleType]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbRoleType](
	[Type] [nvarchar](255) NULL,
	[DescriptionType] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbUser]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUser](
	[Emp_Password] [int] NULL,
	[Emp_ID] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](255) NULL,
	[ModifybyUser] [nvarchar](255) NULL,
	[ModifyDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[GroupID] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbUserRole]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUserRole](
	[Emp_ID] [int] NULL,
	[RoleName] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Unit]    Script Date: 04/12/2568 12:10:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitID] [int] NOT NULL,
	[UnitName] [nvarchar](100) NULL,
	[QuantityperUnit] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[smallunit] [nvarchar](50) NULL
) ON [PRIMARY]

GO
USE [master]
GO
